@import "_mixin.scss";

/*
| Variables
*/
// Sizes
$width: 1200px;
$max-width: 1920px;
$half: $width / 2;

// Fonts
$font: 'Open Sans', verdana, sans-serif;

// Colors
$first-color:   #3E50B4;
$second-color:  #37469D;
$third-color:   #146787;
$fourth-color:  #300040;
$fifth-color:   #05A6D6;
$link-color:    #444444;
$hover-color:   #222222;

/*
 * Flex Box
 */
.display-flex {
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}

.flex-space-between {
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.flex-center {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex-wrap {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.flex {
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;
}

/*
 * Columns
 */
.field, .column {
	width: 100%;

	&.size-1{
		max-width: 10%;
	}

	&.size-2{
		max-width: 20%;
	}

	&.size-3{
		max-width: 30%;
	}

	&.size-4{
		max-width: 40%;
	}

	&.size-5{
		max-width: 50%;
	}

	&.size-6{
		max-width: 60%;
	}

	&.size-7{
		max-width: 70%;
	}

	&.size-8{
		max-width: 80%;
	}

	&.size-9{
		max-width: 90%;
	}
}

.fields, .columns {
	width: 100%;
	margin-bottom: 20px;
	@extend .display-flex;

	> .field, > .column{
		@extend .flex;
	}
}

/*
 * Content Area
 */
.full-width {
	width: 100%;
	display: table;
}

.container {
	width: $width;
	position: relative;
	display: table;
	margin: auto;

	@media screen and (max-width: $width) {
		width: 100%;
		padding: 0px 10px;
	}
}

.half {
	left: 50%;
	margin-left: -($width / 2);
}

.row {
	width: 100%;
	display: table;
	margin-bottom: 20px;
}

/*
 * Generic
 */
.clear {
	@media screen and (max-width: $width) {
		width: 100%;
		max-width: 100%;
		margin: 0px auto 20px;
		text-align: center;
		clear: both;
		float: none;

		&.clearAll {
			margin: 0px auto 0px;
			padding: 0px;
			border-radius: 0px;
			height: auto;
		}

		&.clearHidden {
			display: none;
		}
	}
}
