@import "_settings";

/* ----------------------------- GLOBAL ----------------------------- */

body  {
	width: 100%;
	height: 100%;
	background: #FFF;
	font-family: $font;
	line-height: 22px;
	font-weight: 400;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	color: #444;
}

::-webkit-scrollbar {
    width: 7px;
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: $first-color;
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255, 0, 0, 0.4); 
}

a:link, a:active {
	color: $link-color;
	text-decoration: none;
}

a:hover, a:visited {
	color: $hover-color;
	text-decoration: underline;
}

// ------------------------------- HEADER ------------------------------- //

#header {
	//
}

// ------------------------------- PLACEHOLDERS ------------------------------- //

%home-content {
	@extend .container;

	> .header {
		width: 100%;
		display: table;
		margin-bottom: 40px;

		> h1 {
			font-size: 28px;
			line-height: 28px;
			margin: 0px;
		}
	}

	> .article {
		width: 100%;
		display: table;
	}
}

// ------------------------------- CONTENT ------------------------------- //

//

// ------------------------------- FOOTER ------------------------------- //

#footer {
	//
}

// ------------------------------- MEDIA ------------------------------- //

@media screen and (max-width: $width) {
	.container {
		padding-left: 20px;
		padding-right: 20px;
	}

	.half {
		margin-left: 0px;
		left: 0px;
	}
}
